<div class="flex h-screen bg-white dark:!bg-gray-900/95 transition-colors duration-500">

  @if (this.dataService.showMobileSidebar) {
    <!-- Backdrop for mobile -->
    <div class="fixed inset-0 bg-gray-800/60 xl:hidden z-[10]" (click)="this.dataService.toggleSidebar()"></div>
  }

  <!-- Hide sidebar on mobile devices; only show after button click -->
  <div [ngClass]="['fixed xl:static z-[100] h-screen transition-transform duration-300',
                    dataService.showMobileSidebar ? 'translate-x-0' : '-translate-x-full xl:translate-x-0']">
    <app-sidebar></app-sidebar>
  </div>

  <!-- Page Content -->
  <div class="flex w-full min-w-0 flex-auto flex-col">
    <app-header></app-header>

    <!-- Body -->
    <section class="flex flex-auto flex-col bg-slate-200 dark:bg-gray-900/95 transition-colors duration-500">

      <!-- Header Thumb -->
      <div class="bg-white dark:!bg-gray-800/50 flex flex-0 flex-col border-b border-gray-300 dark:!border-gray-700
                  p-6 py sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-10 transition-colors duration-500">
        <div class="min-w-0 flex-1">
          <div class="flex flex-wrap items-center font-medium">
            <a routerLink="/dashboard" class="whitespace-nowrap bg-gradient-to-r dark:from-[#83ccff] dark:to-[#4290fb]
                                              bg-clip-text text-transparent from-[#005f99] to-[#003366]
                                              transition-colors duration-500">
              Dashboard
            </a>

            <div class="ml-1 flex items-center whitespace-nowrap">
              <fa-icon [icon]="faChevronRight" [size]="'xs'" class="mx-2 text-gray-400"></fa-icon>
              <a class="ml-1 font-semibold bg-gradient-to-r dark:from-[#83ccff] dark:to-[#4290fb] bg-clip-text
                        text-transparent cursor-pointer from-[#005f99] to-[#003366] transition-colors duration-500">
                {{ 'PAGE_CONTACT_THUMB_INFO' | translate }}
              </a>
            </div>
          </div>
          <div class="mt-2">
            <h2 class="truncate text-3xl font-semibold md:text-4xl tracking-wider mb-0">📡
              <span class="bg-gradient-to-r from-[#5371f5] to-[#53b7f5] bg-clip-text text-transparent">
                {{ 'PAGE_CONTACT_THUMB_TITLE' | translate }}
              </span>
            </h2>
          </div>
        </div>
        <div class="flex items-center justify-end">
          <a href="https://discord.gg/bl4cklist">
            <button class="bg-gradient-to-r from-[#5371f5] to-[#53b7f5] text-white font-bold
                           py-2 pl-3 pr-4 rounded hover:from-[#6a8df5] hover:to-[#6ac1f5]">
              <fa-icon [icon]="faDiscord" class="me-2"></fa-icon>
              Support-Server
            </button>
          </a>
        </div>
      </div>

      <!-- Page Content -->
      <div class="flex-auto p-6 sm:p-10 overflow-y-auto pt-4 pb-6 md:pb-1">
        <!-- Site Description -->
        <div class="flex flex-row text-gray-700 dark:!text-gray-400 transition-colors duration-500 gap-x-[13%] mb-8">
          <p class="mb-2 flex-1" [innerHTML]="'PAGE_CONTACT_DESC_LEFT' | translate"></p>
          <div class="self-center border-l border-gray-400 dark:!border-gray-700 mx-4 transition-colors duration-500
                      h-20"></div>
          <p class="mb-2 flex-1 text-right" [innerHTML]="'PAGE_CONTACT_DESC_RIGHT' | translate"></p>
        </div>

        <!-- Alert Box -->
        <div class="flex items-center p-3 mb-10 text-sm text-blue-800 border border-blue-300 rounded-lg bg-blue-50
                  dark:bg-gray-800 dark:text-blue-400 dark:!border-blue-800 transition-colors duration-500">
          <svg class="flex-shrink-0 inline w-5 h-5 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <div [innerHTML]="'PAGE_CONTACT_ALERT' | translate"></div>
        </div>

        <!-- Contact Forms -->
        <div class="flex flex-col gap-y-8 md:flex-row md:gap-y-0 text-gray-700 dark:!text-gray-400 transition-colors duration-500 gap-x-[13%]">

          <!-- Suggest Idea Form -->
          <div class="flex-1 p-6 !pb-4 bg-gray-50 dark:!bg-slate-800 transition-colors duration-500 rounded-lg">
            <!-- Form-Header -->
            <div class="flex items-center mb-4 w-full justify-center">
              @for (step of wizard_idea_suggestion; track $index) {
                <div class="flex p-2 rounded-lg hover:bg-gray-200 dark:hover:!bg-gray-700 cursor-pointer transition-colors duration-500" (click)="toggleStep($index, 'IDEA')">
                  <div class="flex items-center justify-center w-6 h-6 rounded-full text-sm transition-colors duration-500"
                       [ngClass]="this.current_steps.idea_suggestion >= $index + 1 ? 'bg-blue-600 text-white' : 'bg-gray-200 dark:!bg-gray-500 text-gray-600 dark:!text-white'">
                    {{ $index + 1 }}
                  </div>
                  <span class="ml-2 transition-colors duration-500"
                        [ngClass]="this.current_steps.idea_suggestion >= $index + 1 ? 'text-blue-600': 'text-gray-600 dark:!text-gray-500'">
                  {{step.title | translate}}
                </span>
                </div>

                <!-- Divider -->
                @if ($index < wizard_idea_suggestion.length - 1) {
                  <div class="w-8 h-[1px] bg-gray-300 dark:!bg-gray-700 mx-4 transition-colors duration-500"></div>
                }
              }
            </div>

            <!-- Content of Form -->
            <div class="relative overflow-hidden border-b border-gray-300 dark:!border-gray-700
                        transition-colors duration-500" [style.height]="formContainerHeight">
              @for (step of getFormStep('IDEA'); track step) {
                <div [@stepContent] class="mb-3">
                  <!-- Form Description -->
                  <p class="text-gray-500 mb-3">{{ step.title | translate }}</p>

                  <!-- Form Fields -->
                  @for (field of step.fields; track field) {
                    <form [formGroup]="formGroupIdea" class="space-y-4 pb-3">
                      <div class="relative">
                        <label [for]="field.id" class="block mb-2 text-gray-600 dark:!text-gray-300
                                                       transition-colors duration-500">
                          {{ field.label | translate }}
                        </label>

                        <div class="absolute inset-y-0 left-3 top-8 flex items-center pointer-events-none">
                          <fa-icon [icon]="field.icon"></fa-icon>
                        </div>
                        @if (field.type === 'textarea') {
                          <textarea [id]="field.id" [formControlName]="field.controlName"
                                    maxlength="500" minlength="10" autocomplete="off" [attr.placeholder]="(field.placeholder | translate).replaceAll('\\n', '&#10;')"
                                    class="w-full min-h-24 pl-10 pr-4 py-2 border-1 border-gray-300 rounded-md focus:!border-blue-500
                                             text-gray-700 placeholder:text-gray-400 dark:bg-gray-700 dark:border-gray-600
                                             transition-colors duration-500 dark:!text-gray-300 max-h-32"
                                    [ngClass]="{'!border-red-500': this.formGroupIdea.get(field.controlName)!.value == ''
                                                                 && this.formGroupIdea.get(field.controlName)!.touched}">
                            </textarea>
                        } @else if (field.type === 'text') {
                          <input [id]="field.id" [type]="field.type" [formControlName]="field.controlName"
                                 maxlength="250" minlength="10" autocomplete="off" [attr.placeholder]="field.placeholder | translate"
                                 class="w-full pl-10 pr-4 py-2 border-1 border-gray-300 rounded-md focus:!border-blue-500
                                        text-gray-700 placeholder:text-gray-400 dark:bg-gray-700 dark:border-gray-600
                                        transition-colors duration-500 dark:!text-gray-300"
                                 [ngClass]="{'!border-red-500': this.formGroupIdea.get(field.controlName)!.value == ''
                                                                 && this.formGroupIdea.get(field.controlName)!.touched}" />
                        } @else {
                          <select [id]="field.id" [formControlName]="field.controlName"
                                  class="w-full pl-10 pr-4 py-2 border-1 border-gray-300 rounded-md focus:!border-blue-500
                                         text-gray-700 dark:bg-gray-700 dark:border-gray-600
                                         transition-colors duration-500 dark:text-gray-300"
                                  [ngClass]="{'!text-gray-400': this.formGroupIdea.get(field.controlName)!.value == ''
                                                                 && this.formGroupIdea.get(field.controlName)!.touched}">
                            <option selected disabled value="">{{ 'FORM_IDEA_SUGGESTION_3_FIELD_1_PLACEHOLDER' | translate }}</option>
                            <!-- Discord-Server -->
                            <option value="1035289083284557865">{{ 'FORM_IDEA_SUGGESTION_3_TAG_1' | translate }}</option>
                            <!-- Webseite -->
                            <option value="1035289271923392522">{{ 'FORM_IDEA_SUGGESTION_3_TAG_2' | translate }}</option>
                            <!-- Allgemeine Idee -->
                            <option value="1259588226398556290">{{ 'FORM_IDEA_SUGGESTION_3_TAG_3' | translate }}</option>
                            <!-- Gewinnspiel-Modul -->
                            <option value="1035289207175921794">{{ 'FORM_IDEA_SUGGESTION_3_TAG_4' | translate }}</option>
                            <!-- Support-Modul -->
                            <option value="1035289762317217812">{{ 'FORM_IDEA_SUGGESTION_3_TAG_5' | translate }}</option>
                            <!-- Security-Modul -->
                            <option value="1035289482812993688">{{ 'FORM_IDEA_SUGGESTION_3_TAG_6' | translate }}</option>
                            <!-- Global-Chat -->
                            <option value="1035289406191435776">{{ 'FORM_IDEA_SUGGESTION_3_TAG_7' | translate }}</option>
                          </select>
                        }
                      </div>
                    </form>
                  }
                </div>
              }
            </div>

            <!-- Form-Footer -->
            <div class="mt-3 flex justify-between items-center overflow-hidden">
              <h5 class="mb-0 text-gray-700 dark:!text-gray-200 transition-colors duration-500">
                {{ 'FORM_IDEA_SUGGESTION_TITLE' | translate }}
              </h5>
              <div class="flex justify-end items-center">
                @if (this.ideaSuggestionSent) {
                  <p class="mb-0 text-green-500 me-4" #ideaSuggestionInfo [@slideAnimation]>
                    {{ 'PLACEHOLDER_IDEA_SUGGESTION_SUCCESS' | translate }}
                  </p>
                }
                <button class="px-6 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-colors duration-500
                             focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 disabled:bg-gray-400
                             disabled:dark:bg-gray-600"
                        (click)="sendForm('IDEA')" [disabled]="isFormValid('IDEA') || this.ideaSuggestionSent" #sendIdeaSuggestBtn>
                  {{ current_steps.idea_suggestion === wizard_idea_suggestion.length ? this.translate.instant('WIZARD_BUTTON_IDEA_SEND') : this.translate.instant('WIZARD_BUTTON_CONTINUE') }}
                </button>
              </div>
            </div>
          </div>

          <!-- Bug Report Form -->
          <div class="flex-1 p-6 !pb-4 bg-gray-50 dark:!bg-slate-800 transition-colors duration-500 rounded-lg">
            <!-- Form-Header -->
            <div class="flex items-center mb-4 w-full justify-center">
              @for (step of wizard_bug_steps; track $index) {
                <div class="flex p-2 rounded-lg hover:bg-gray-200 dark:hover:!bg-gray-700 cursor-pointer transition-colors duration-500" (click)="toggleStep($index, 'BUG')">
                  <div class="flex items-center justify-center w-6 h-6 rounded-full text-sm transition-colors duration-500"
                       [ngClass]="this.current_steps.bug_report >= $index + 1 ? 'bg-blue-600 text-white' : 'bg-gray-200 dark:!bg-gray-500 text-gray-600 dark:!text-white'">
                    {{ $index + 1 }}
                  </div>
                  <span class="ml-2 transition-colors duration-500"
                        [ngClass]="this.current_steps.bug_report >= $index + 1 ? 'text-blue-600': 'text-gray-600 dark:!text-gray-500'">
                  {{step.title | translate}}
                </span>
                </div>

                <!-- Divider -->
                @if ($index < wizard_bug_steps.length - 1) {
                  <div class="w-8 h-[1px] bg-gray-300 dark:!bg-gray-700 mx-4 transition-colors duration-500"></div>
                }
              }
            </div>

            <!-- Content of Form -->
            <div class="relative overflow-hidden border-b border-gray-300 dark:!border-gray-700
                        transition-colors duration-500" #formBugReport [style.height]="formContainerHeight">
                @for (step of getFormStep('BUG'); track step) {
                  <div [@stepContent] class="mb-3">
                    <!-- Form Description -->
                    <p class="text-gray-500 mb-3">{{ step.title | translate }}</p>

                    <!-- Form Fields -->
                    @for (field of step.fields; track field) {
                      <form [formGroup]="formGroupBug" class="space-y-4 pb-3">
                        <div class="relative">
                          <label [for]="field.id" class="block mb-2 text-gray-600 dark:!text-gray-300
                                                         transition-colors duration-500">
                            {{ field.label | translate }}
                          </label>

                          <div class="absolute inset-y-0 left-3 top-8 flex items-center pointer-events-none">
                            <fa-icon [icon]="field.icon"></fa-icon>
                          </div>
                          @if (field.type === 'textarea') {
                            <textarea [id]="field.id" [formControlName]="field.controlName"
                                      maxlength="500" minlength="10" autocomplete="off" [attr.placeholder]="(field.placeholder | translate).replaceAll('\\n', '&#10;')"
                                      class="w-full min-h-24 pl-10 pr-4 py-2 border-1 border-gray-300 rounded-md focus:!border-blue-500
                                             text-gray-700 placeholder:text-gray-400 dark:bg-gray-700 dark:border-gray-600
                                             transition-colors duration-500 dark:!text-gray-300 max-h-32"
                                      [ngClass]="{'!border-red-500': this.formGroupBug.get(field.controlName)!.value == ''
                                                                    && this.formGroupBug.get(field.controlName)!.touched}">
                            </textarea>
                          } @else {
                            <input [id]="field.id" [type]="field.type" [formControlName]="field.controlName"
                                   maxlength="250" minlength="10" autocomplete="off" [attr.placeholder]="field.placeholder | translate"
                                   class="w-full pl-10 pr-4 py-2 border-1 border-gray-300 rounded-md focus:!border-blue-500
                                        text-gray-700 placeholder:text-gray-400 dark:bg-gray-700 dark:border-gray-600
                                        transition-colors duration-500 dark:!text-gray-300"
                                   [ngClass]="{'!border-red-500': this.formGroupBug.get(field.controlName)!.value == ''
                                                                 && this.formGroupBug.get(field.controlName)!.touched}" />
                          }
                        </div>
                      </form>
                    }
                  </div>
                }
            </div>

            <!-- Form-Footer -->
            <div class="mt-3 flex justify-between items-center overflow-hidden">
              <h5 class="mb-0 text-gray-700 dark:!text-gray-200 transition-colors duration-500">
                {{ 'FORM_BUG_REPORT_TITLE' | translate }}
              </h5>
              <div class="flex justify-end items-center">
                @if (this.bugReportSent) {
                  <p class="mb-0 text-green-500 me-4" #bugReportInfo [@slideAnimation]>
                    {{ 'PLACEHOLDER_BUG_REPORT_SUCCESS' | translate }}
                  </p>
                }
                <button class="px-6 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition-colors duration-500
                             focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 disabled:bg-gray-400
                             disabled:dark:bg-gray-600"
                        (click)="sendForm('BUG')" [disabled]="isFormValid('BUG') || this.bugReportSent">
                  {{ current_steps.bug_report === wizard_bug_steps.length ? this.translate.instant('WIZARD_BUTTON_BUG_SEND') : this.translate.instant('WIZARD_BUTTON_CONTINUE') }}
                </button>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
  </div>
</div>
