<div class="flex h-screen bg-white dark:!bg-gray-900/95 transition-colors duration-500">

  @if (this.dataService.showMobileSidebar) {
    <!-- Backdrop for mobile -->
    <div class="fixed inset-0 bg-gray-800/60 xl:hidden z-[10]" (click)="this.dataService.toggleSidebar()"></div>
  }

  <!-- Hide sidebar on mobile devices; only show after button click -->
  <div [ngClass]="['fixed xl:static z-[100] h-screen transition-transform duration-300',
                    dataService.showMobileSidebar ? 'translate-x-0' : '-translate-x-full xl:translate-x-0']">
    <app-sidebar></app-sidebar>
  </div>

  <!-- Page Content -->
  <div class="flex w-full min-w-0 flex-auto flex-col">
    <app-header></app-header>

    <!-- Body -->
    <section class="flex flex-auto flex-col bg-slate-200 dark:bg-gray-900/95 transition-colors duration-500">

      <!-- Header Thumb -->
      <div class="bg-white dark:!bg-gray-800/50 flex flex-0 flex-col border-b border-gray-300 dark:!border-gray-700
                  p-6 py sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-10 transition-colors duration-500">
        <div class="min-w-0 flex-1">
          <div class="flex flex-wrap items-center font-medium">
            <a routerLink="/dashboard" class="whitespace-nowrap bg-gradient-to-r dark:from-[#83ccff] dark:to-[#4290fb]
                                              bg-clip-text text-transparent from-[#005f99] to-[#003366]
                                              transition-colors duration-500">
              Dashboard
            </a>

            <div class="ml-1 flex items-center whitespace-nowrap">
              <fa-icon [icon]="faChevronRight" [size]="'xs'" class="mx-2 text-gray-400"></fa-icon>
              <a class="ml-1 font-semibold bg-gradient-to-r dark:from-[#83ccff] dark:to-[#4290fb] bg-clip-text
                        text-transparent cursor-pointer from-[#005f99] to-[#003366] transition-colors duration-500">
                Fehler oder Idee melden
              </a>
            </div>
          </div>
          <div class="mt-2">
            <h2 class="truncate text-3xl font-semibold md:text-4xl tracking-wider mb-0">📡
              <span class="bg-gradient-to-r from-[#5371f5] to-[#53b7f5] bg-clip-text text-transparent">
                ~ Kontaktiere Uns!
              </span>
            </h2>
          </div>
        </div>
        <div class="flex items-center justify-end">
          <a href="https://discord.gg/bl4cklist">
            <button class="bg-gradient-to-r from-[#5371f5] to-[#53b7f5] text-white font-bold
                           py-2 pl-3 pr-4 rounded hover:from-[#6a8df5] hover:to-[#6ac1f5]">
              <fa-icon [icon]="faDiscord" class="me-2"></fa-icon>
              Support-Server
            </button>
          </a>
        </div>
      </div>

      <!-- Page Content -->
      <div class="flex-auto p-6 sm:p-10">
        <div class="flex flex-row text-gray-700 dark:!text-gray-400 transition-colors duration-500 gap-x-[13%] mb-10">
          <p class="mb-2 flex-1">✏️› Auf dieser Seite zeigen wir dir <strong>einige Kontaktmöglichkeiten</strong>, wie du unser <strong>Entwicklungs-& Support-Team</strong> kinderleicht erreichen kannst. Dies ist nützlich bei dringenden Fällen wie rechtliche Fragen, kritische Fehlermeldungen oder einfach nur um uns deine Ideen für das Dashboard, oder unserem Clank-Bot generell mitzuteilen.</p>
          <div class="self-center border-l border-gray-400 dark:!border-gray-700 mx-4 transition-colors duration-500
                      h-20"></div>
          <p class="mb-2 flex-1 text-right">⚡ › Unsere Reaktionszeit ist in der Regel <strong>sehr schnell</strong> und erfolgt in wenigen Tagen - wir antworten dir auf deine Anfrage jedoch in den meisten Fällen nur, wenn <strong>weitere Rückfragen</strong> bei deinem Fall aufgekommen sind, wie bei einer Bug-Meldung, wo wir mehr Informationen zum reproduzieren des Fehlers benötigen. </p>
        </div>

        <div class="flex items-center p-3 mb-4 text-sm text-blue-800 border border-blue-300 rounded-lg bg-blue-50
                  dark:bg-gray-800 dark:text-blue-400 dark:!border-blue-800 transition-colors duration-500">
          <svg class="flex-shrink-0 inline w-5 h-5 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
          </svg>
          <div>
            <strong>Ich habe eine Allgemeine Frage:</strong> In diesem Fall solltest du dich mit einem spezielleren Kontaktformular an uns wenden, welches du auf unserer
            <strong><a class="text-blue-900 dark:text-blue-500" href="https://bl4cklist.de/contact/">Blacklist.de ~ Discord-Server Webseite</a></strong> findest.
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
