<!-- Template für Role Picker (TEAMLIST_ROLE_ADD oder DEFAULT_MENTION) -->
<label for="rolepicker" class="block text-sm font-medium text-gray-900 dark:text-white mb-3">
  @if (type === 'DEFAULT_MENTION') {
    {{ 'PLACEHOLDER_MENTION_MODAL_PICK' | translate }}
  } @else {
    {{ 'PLACEHOLDER_ROLE_MODAL_PICK' | translate }}
  }
</label>
<div class="relative">
  <template-select [options]="discordRoles" [type]="type" [isDefaultMentioned]="isDefaultMentioned" id="rolepicker" />
</div>

<!-- Support-Level for TEAMLIST_ROLE_ADD -->
@if (type === 'TEAMLIST_ROLE_ADD') {
  <hr class="mt-4 w-11/12 self-center bg-gray-700 dark:bg-gray-800">
  <div>
    <label for="levelpicker" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
      {{ 'PLACEHOLDER_ROLE_MODAL_LEVEL' | translate }}
    </label>
    <div class="w-full">
      <div class="relative right-0">
        <ul class="relative flex flex-wrap py-1.5 list-none" id="levelpicker">
          @for (_ of [].constructor(3); track $index) {
            <li class="z-30 flex-auto text-center border dark:bg-gray-600 border-gray-300
                   dark:!border-gray-500 transition-colors duration-75 hover:bg-gray-100
                   dark:hover:bg-gray-600/30" (click)="activeTab = $index" [id]="activeTab == $index ? 'level_active_' + activeTab : ''"
                [class.!bg-blue-400]="activeTab == $index" id="role_add_{{$index}}"
                [class.rounded-l-lg]="$index < 1" [class.rounded-r-lg]="$index > 1">
              <a class="z-30 decoration-transparent flex items-center justify-center w-full px-0 py-2 text-sm mb-0
                     transition-all ease-in-out rounded-md cursor-pointer bg-inherit
                     text-gray-900 dark:text-white duration-100"
                 [ngClass]="activeTab == $index ? 'hover:!text-white' : 'hover:!text-blue-400'"
                 [innerText]="$index == 0 ? ('PLACEHOLDER_ROLE_MODAL_FIRST' | translate) :
                            $index == 1 ? ('PLACEHOLDER_ROLE_MODAL_SECOND' | translate) :
                                          ('PLACEHOLDER_ROLE_MODAL_THIRD' | translate)">
              </a>
            </li>
          }
        </ul>
      </div>
    </div>
  </div>
}

<!-- Action Buttons -->
@if (selectComponent) {
  <div class="flex flex-row gap-2 mt-3">
    <button class="w-full text-white disabled:!bg-gray-500 bg-blue-700 hover:bg-blue-800
               focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg
               py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700
               transition-colors duration-100 dark:focus:ring-blue-800 text-sm px-5"
            (click)="action(selectComponent.rolePicker.nativeElement.selectedOptions);" [disabled]="!selectComponent.isRolePickerValid">
      {{ 'PLACEHOLDER_BUTTON_SAVE' | translate }}
    </button>

    @if (type === 'DEFAULT_MENTION') {
      <button class="w-5 h-full text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none
               focus:ring-red-300 font-medium rounded-lg py-2.5 dark:bg-red-600 text-sm
               dark:hover:bg-red-700 transition-colors duration-100 dark:focus:ring-red-800 px-3
                 flex items-center justify-center"
              (click)="action(selectComponent.rolePicker.nativeElement.selectedOptions, true);">
        <fa-icon [icon]="faTrashCan"></fa-icon>
      </button>
    }
  </div>

}
