<div class="flex w-screen h-screen flex-col">
  <div class="flex h-full flex-auto flex-col items-center justify-center p-6 sm:p-10 bg-gray-100 dark:!bg-slate-900
              transition-colors duration-500">
    <div class="w-full max-w-3xl">
      <img ngSrc="assets/img/bg/errors/server-error.svg" alt="Clank ~ Discord-Bot (Server-Error Bg)"
           class="w-full h-auto animate-float" height="16" width="16" />
    </div>

    <div class="text-black dark:!text-white text-center text-4xl font-extrabold leading-tight tracking-tight
                md:text-5xl md:leading-none">{{ this.dataService.error_title }}</div>
    <div class="text-slate-500 mt-2 text-center text-lg font-medium tracking-tight md:text-xl">
      {{ this.dataService.error_desc }}
    </div>

    <div class="flex items-center justify-between gap-x-8 mt-12">
     <a routerLink="/dashboard">
       <button type="button" class="text-white bg-red-500 hover:bg-red-600 focus:ring-4 focus:ring-red-300
                                 font-medium rounded-lg text-sm px-3 py-2.5 me-2 mb-2 focus:outline-none
                                 dark:focus:ring-red-500">
         <fa-icon [icon]="faHome" class="mr-1"></fa-icon> {{ 'ERROR_LOGIN_BUTTON' | translate }}
      </button>
     </a>

      <a href="https://discord.gg/bl4cklist">
        <button type="button" class="text-white bg-gray-500 hover:bg-gray-600 focus:ring-4 focus:ring-gray-300
                                   font-medium rounded-lg text-sm px-3 py-2.5 me-2 mb-2 dark:bg-blue-600
                                   dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-gray-600">
          <fa-icon [icon]="faDiscord" class="mr-1"></fa-icon> {{ 'ERROR_SUPPORT_BUTTON' | translate }}
        </button>
      </a>
    </div>
  </div>

  <div class="bg-card relative z-49 flex h-14 w-full flex-0 items-center border-t px-4 bg-white dark:!bg-slate-900/75
            dark:border-slate-700 sm:h-20 md:px-6 print:hidden justify-between transition-colors duration-500">
    <a routerLink="/">
      <span class="text-gray-500 font-medium hover:text-gray-400 transition-colors duration-300">clank.dev</span>
    </a>


    <div class="flex justify-between items-center gap-x-4">
      <!-- Lang-Switch -->
      <div class="lang-switch-btn w-8 h-8">
        <lang-switch-button></lang-switch-button>
      </div>

      <!-- Theme Switcher -->
      <button aria-label="Theme-Switch" class="rounded-full focus:outline-none focus:shadow-outline-red text-red-500
                                             hover:bg-gray-500 dark:hover:bg-gray-700 hover:bg-opacity-20 p-2
                                             transition duration-300 ease-in-out animate-rotate"
              [ngClass]="{'rotate-left': !this.dataService.isDarkTheme, 'rotate-right': this.dataService.isDarkTheme}"
              (click)="this.dataService.toggleTheme()">
        @if (!this.dataService.isDarkTheme) {
          <svg class="w-9 h-9" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
            <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
          </svg>
        } @else {
          <svg class="w-9 h-9" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
            <path
              fill-rule="evenodd" clip-rule="evenodd"
              d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1
              1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0
              11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1
              0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414
              8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z">
            </path>
          </svg>
        }
      </button>
    </div>

  </div>

</div>
