<dashboard-layout>
  <!-- Body -->
  <section class="flex flex-auto flex-col bg-gradient-to-bl from-blue-50 via-gray-50 to-slate-100
                dark:from-slate-900 dark:via-gray-900 dark:to-slate-800 transition-colors duration-500">

    <!-- Role Modal -->
    <app-modal [type]="modalType" [obj]="this.newSnippet" />

    <!-- Page Thumb -->
    <page-thumb [subtitle]="'PAGE_SNIPPETS_SUBTITLE' | translate" [title]="'PAGE_SNIPPETS_TITLE' | translate"
                [color]="'green'" [desc]="'PAGE_SNIPPETS_DESC' | translate"></page-thumb>

    <!-- Alert Box -->
    @if (this.dataService.showAlertBox) {
      <app-alert-box></app-alert-box>
    }

    <div class="flex-1 my-4 flex flex-col items-center">
      <div class="p-4 py-2 sm:p-5 flex-grow flex flex-col w-full">
        <div class="mx-auto w-full h-[calc(100vh-30rem)] px-4 lg:!px-0">

          <!-- Table Header -->
          <div class="bg-gradient-to-tl from-white via-slate-50 to-blue-50 dark:from-slate-800
                    dark:via-slate-800 dark:to-slate-900 relative shadow-md dark:shadow-xl sm:rounded-lg
                    transition-colors duration-300 !border-gray-300 dark:!border-gray-700 border-1 p-4 mb-4">

            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4">
              <div class="w-full md:w-2/6">
                <div class="flex-1 ml-4 lg:ml-0 ">
                  <div class="relative self-center">
                    <fa-icon [icon]="faSearch" class="absolute left-3 top-1/2 -translate-y-1/2 text-gray-500 transition-colors duration-500"></fa-icon>
                    <input type="text" [placeholder]="'PLACEHOLDER_SNIPPET_SEARCH' | translate" (keyup)="searchSnippet($event)"
                           class="w-full pl-10 pr-4 py-2 bg-white dark:!bg-gray-800 rounded-full !border border-gray-300
                          dark:!border-gray-700 focus:outline-none focus:ring-1 focus:ring-blue-700 transition-colors duration-500" />
                  </div>
                </div>
              </div>

              <!-- Table Buttons -->
              <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center
                          justify-end md:space-x-3 flex-shrink-0">
                <button type="button" class="flex items-center justify-center text-white bg-gradient-to-r from-green-700
                                           via-green-600 to-green-500 focus:ring-4 font-medium rounded-lg text-sm px-4 py-2
                                           focus:ring-green-700 focus:outline-none hover:bg-gradient-to-br"
                        (click)="this.openModal('SUPPORT_SNIPPET_ADD')">
                  <fa-icon [icon]="faPlus" class="me-2"></fa-icon>{{ 'PLACEHOLDER_BUTTON_SNIPPET_ADD' | translate }}
                </button>
                <button type="button" class="flex items-center justify-center text-white focus:ring-4 font-medium
                                             rounded-lg text-sm px-4 py-2 focus:outline-none bg-gradient-to-r hover:bg-gradient-to-br"
                        [ngClass]="{
                          'from-purple-700 via-purple-600 to-purple-500 focus:ring-purple-700': !currentAnnouncement || currentAnnouncement!.level == null || currentAnnouncement!.level === 1,
                          'from-orange-700 via-orange-600 to-orange-500 focus:ring-orange-700': currentAnnouncement?.level === 2,
                          'from-red-700 via-red-600 to-red-500 focus:ring-red-700': currentAnnouncement?.level === 3
                        }">
                  <!-- TODO -->
                  <fa-icon [icon]="!currentAnnouncement || currentAnnouncement!.level == null ? faBullhorn : currentAnnouncement.level === 1 ? faInfoCircle :
                                   currentAnnouncement.level === 2 ? faExclamationCircle : faExclamationTriangle" class="me-2"></fa-icon>
                  {{ (!currentAnnouncement || currentAnnouncement!.level == null ?
                      'PLACEHOLDER_BUTTON_ANNOUNCEMENT_SET' : 'PLACEHOLDER_BUTTON_ANNOUNCEMENT_EDIT') | translate }}
                </button>
                <button type="button" class="flex items-center justify-center text-white bg-gradient-to-r from-blue-700
                                           via-blue-600 to-blue-500 focus:ring-4 font-medium rounded-lg text-sm px-3
                                           py-2 focus:ring-blue-700 focus:outline-none hover:bg-gradient-to-br
                                           transition-colors duration-300 disabled:bg-gray-700 disabled:bg-none"
                        [disabled]="this.disabledCacheBtn" (click)="refreshCache()">
                  <fa-icon [icon]="faRefresh" class="me-2"></fa-icon>
                  {{ 'BUTTON_CACHE_REFRESH' | translate }}
                </button>
              </div>
            </div>
          </div>

          <!-- Layout for Table and Details -->
          <div class="flex flex-col lg:flex-row gap-4 h-full">

            <!-- Left column (Table) -->
            <div class="lg:w-1/3 bg-gradient-to-bl from-white via-slate-50 to-blue-50 dark:from-slate-800
              dark:via-slate-800 dark:to-slate-900 relative shadow-md dark:shadow-xl sm:rounded-lg
              transition-colors duration-300 !border-gray-300 dark:!border-gray-700 border-1 flex flex-col">
              <data-table [tconfig]="tableConfig" class="h-full" (rowClick)="this.dataService.selectedSnippet = $event" />
            </div>

            <!-- Right column (Snippet details) -->
            <div class="lg:w-2/3 bg-gradient-to-tr from-white via-slate-50 to-blue-50 dark:from-slate-800
              dark:via-slate-800 dark:to-slate-900 shadow-md dark:shadow-xl sm:rounded-lg
              transition-colors duration-300 !border-gray-300 dark:!border-gray-700 border-1 pl-4 flex flex-col">

              @if (this.dataLoading.snippets) {
                <div class="flex-grow flex items-center justify-center">
                  <span class="data-loader"></span>
                </div>
              } @else if (this.dataService.selectedSnippet) {
                <div class="flex flex-col flex-grow overflow-y-auto">
                  <h2 class="text-xl font-medium text-gray-800 dark:text-white mb-2 pt-2.5">
                    {{ 'PAGE_SNIPPETS_PREVIEW' | translate }} <code class="ml-2 text-2xl">{{ this.dataService.selectedSnippet.name }}</code>
                  </h2>

                  <p class="text-gray-500 mt-2 tracking-tight transition-colors duration-500 mb-0"
                     [innerHTML]="'PAGE_SNIPPETS_PREVIEW_DESC' | translate: { name: this.dataService.selectedSnippet.name }">
                  </p>

                  <hr class="my-6 border-gray-300 dark:border-gray-600 w-3/4 self-center" />

                  <div class="flex-grow flex w-full justify-start pr-6 gap-x-6">
                    <div class="w-1/2">
                      <h3 class="text-lg font-medium text-gray-700 dark:text-gray-300 mb-2">
                        {{ 'PAGE_SNIPPETS_PREVIEW_TITLE' | translate }}
                      </h3>
                      <p class="text-gray-500 dark:text-gray-400 mb-4">
                        {{ 'PAGE_SNIPPETS_PREVIEW_INTRO' | translate }}
                      </p>
                    </div>

                    <template-discord-markdown [type]="'SUPPORT_SNIPPET_EDIT'" [content]="this.dataService.selectedSnippet.desc" class="!mt-0 mb-6 !ml-0"/>
                  </div>
                </div>
              } @else {
                <div class="flex flex-col items-center justify-center h-full text-center text-gray-500 dark:text-gray-400 p-6">
                  <img ngSrc="assets/img/confusion.png" class="h-16 w-16 mb-3" height="256" width="256"
                       alt="No Text-Snippets ~ Clank Discord-Bot"/>
                  <p>{{ 'PLACEHOLDER_SNIPPET_NO_RESULTS' | translate }}</p>
                </div>
              }

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</dashboard-layout>
