<dashboard-layout>

  <!-- Body -->
  <section class="flex flex-auto flex-col bg-gradient-to-bl from-blue-50 via-gray-50 to-slate-100
                dark:from-slate-900 dark:via-gray-900 dark:to-slate-800 transition-colors duration-500">

    <!-- Role Modal TODO -->

    <!-- Page Thumb TODO -->

    <!-- Alert Box  TODO -->

    <div class="flex-1 my-4">
      <div class="p-3 sm:p-5">
        <div class="mx-auto max-w-[2000px] max-h-full px-4 lg:!px-0">
          <div class="bg-gradient-to-tr from-white via-slate-50 to-blue-50 dark:from-slate-800
                        dark:via-slate-800 dark:to-slate-900 relative shadow-md dark:shadow-xl sm:rounded-lg
                          transition-colors duration-300 !border-gray-300 dark:!border-gray-700 border-1 overflow-hidden">

            <!-- Table Buttons TODO -->

            <!-- Table TODO -->

          </div>
        </div>
      </div>

    </div>

  </section>

</dashboard-layout>
