<div class="overflow-x-auto flex flex-col h-auto lg:max-h-[calc(100vh-30rem)]">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400 transition-colors duration-300">
    <colgroup>
      <!-- Reserve Width for each column -->
      @for (column of tconfig.columns; track $index) {
        <col class="w-[{{ column.width }}%]">
      }
    </colgroup>

    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400
                                  transition-colors duration-300 sticky top-0">
      <tr>
        <!-- Table Header -->
        @for (column of tconfig.columns; track $index) {
          <th scope="col" class="px-4 py-3 border-r !border-gray-300 dark:!border-gray-600 transition-colors
                                 duration-300 whitespace-nowrap overflow-hidden text-ellipsis"
              [width]="tconfig.columns[$index].width + '%'" title="{{ column.name | translate }}">
            <span class="overflow-hidden text-ellipsis block">{{ column.name | translate }}</span>
          </th>
        }
      </tr>
    </thead>

    <tbody class="overflow-y-auto">
      <!-- Table is empty -->
      @if ((tconfig.type != 'UNBAN_REQUESTS' && tconfig.rows.length == 0 && !tconfig.dataLoading) ||
           (tconfig.type === 'UNBAN_REQUESTS' && (returnFilteredRequests().length == 0 && !hasPendingItemsWithNoPerms()) && this.dataService.security_logs && this.dataService.security_logs.unban_thread_id)) {
        <tr class="border-b dark:border-gray-700 transition-colors duration-300" [@rowAnimation]>
          <td class="px-4 py-3 text-center" [attr.colspan]="tconfig.columns.length">{{ tconfig.list_empty | translate }}</td>
        </tr>
      }

      <!-- Table is Loading; Show Loader -->
      @if (tconfig.dataLoading || (tconfig.type === 'UNBAN_REQUESTS' && this.dataService.security_logs && !this.dataService.security_logs.unban_thread_id)) {
        <tr class="dark:border-gray-700 transition-colors duration-300" [@rowAnimation]
            [class.border-b]="tconfig.type !== 'SUPPORT_SNIPPETS'">
          <td class="px-4 py-3 text-center" [attr.colspan]="tconfig.columns.length">
            @if (tconfig.type === 'UNBAN_REQUESTS' && this.dataService.security_logs && !this.dataService.security_logs.unban_thread_id) {
              <div class="flex flex-col items-center justify-center w-full">
                <img [ngSrc]="'assets/img/icons/error-big.png'" class="animate-float mb-2"
                     width="128" height="128" alt="Error-Big ~ Clank Discord-Bot"/>
                <span class="text-red-500 dark:text-red-400 w-2/4 text-xl transition-colors duration-300 text-center"
                      [innerHTML]="'PLACEHOLDER_UNBAN_MISSING' | translate"></span>
              </div>
            } @else if (tconfig.type === 'SUPPORT_SNIPPETS') {  <!-- use div for snippets because it shows custom layout -->
              <div [ngClass]="{'h-[calc(100vh-36rem)]': tconfig.type === 'SUPPORT_SNIPPETS'}"
                   class="flex items-center justify-center">
                <span class="data-loader"></span>
              </div>
            } @else {
              <td class="px-4 py-3 text-center flex items-center justify-center" [attr.colspan]="tconfig.columns.length">
                <span class="data-loader"></span>
              </td>
            }
          </td>
        </tr>
      } @else {
        <!-- Show Error Message if there are pending support themes with missing permissions -->
        @if (hasPendingItemsWithNoPerms()) {
          <tr class="border-b dark:border-gray-700 transition-colors duration-300" [@rowAnimation]>
            <td class="px-4 py-3 text-center text-red-500 dark:text-red-400 bg-red-200 dark:bg-red-900/20"
                [attr.colspan]="tconfig.columns.length">
              <fa-icon [icon]="faExclamationTriangle" class="text-red-500"></fa-icon>
              <div class="flex items-center justify-center gap-2">
                <span [innerHTML]="tconfig.type === 'UNBAN_REQUESTS' ?
                ('ERROR_SECURITY_UNBAN_PERMS_MISSING' | translate) : ('ERROR_THEME_PERMS_MISSING' | translate)"></span>
              </div>
            </td>
          </tr>
        }

        <!-- Row Content -->
        @for (obj of tconfig.rows; track $index) {
          @if (isUnbanRequestType(obj) && obj.status != 0) {} @else {
            <tr class="border-b dark:border-gray-700 transition-colors duration-100 hover:bg-gray-200
                   dark:hover:bg-slate-900/60 odd:bg-white even:bg-gray-50 dark:odd:bg-slate-800
                   dark:even:bg-slate-900/20" [@rowAnimation] (click)="onRowClick(obj)"
                [ngClass]="{'cursor-pointer': this.rowClick.observers.length > 0,
                          '!bg-blue-200 dark:!bg-blue-950': obj === this.dataService.selectedSnippet && tconfig.type === 'SUPPORT_SNIPPETS'}">
              @if (tconfig.type === 'SUPPORT_THEMES' && isSupportType(obj)) {
                <td class="px-3 py-3 text-sm text-gray-500" [width]="tconfig.columns[0].width + '%'">
                  @if (this.dataService.getEmojibyId(obj.icon).startsWith('https://')) {
                    <img [ngSrc]="this.dataService.getEmojibyId(obj.icon) + '?size=32'" width="20" height="20" alt="Emoji for {{ obj.name}}" />
                  } @else {
                    <span class="text-lg">{{ obj.icon }}</span>
                  }
                </td>
              }

              <!-- Name of the Object (Support-Theme: with FAQ-Status | Teamlist: with Role Colour Dot) -->
              <td class="py-3 px-4 font-medium text-gray-900 whitespace-nowrap dark:text-white transition-colors
                         duration-300" #mainRow
                  [width]="tconfig.type === 'SUPPORT_THEMES' ? tconfig.columns[1].width + '%' : tconfig.columns[0].width + '%'"
                  [class.!text-red-600]="isSupportType(obj) && obj.pending && obj.action == 'DELETE'">
                <div class="flex items-center">

                  @if (isRoleType(obj)) {                                    <!-- Show Rolor-Color Dot for Role Types -->
                    <div class="w-3 h-3 rounded-full inline-block me-2.5" [style.background-color]="isRoleType(obj) ? '#' +
                         obj.color.toString(16).padStart(6, '0') : ''"></div>
                  } @else if (isBlockedUserType(obj) || isUnbanRequestType(obj)) { <!-- Show Avatar for User Types -->
                    @if (isBlockedUserType(obj) ? !obj.invalidImg : !obj.user_invalid) {
                      <img [ngSrc]="obj.user_avatar ? obj.user_avatar.replace('size=1024', 'size=24')
                      : 'https://cdn.discordapp.com/embed/avatars/' + (obj.user_id.length % 5) + '.png'"
                           width="24" height="24" alt="Avatar for {{ obj.user_name }}" class="w-6 h-6 rounded-full me-2.5"
                           [title]="obj.user_id" (error)="isBlockedUserType(obj) ? obj.invalidImg = true : obj.user_invalid = true"/>
                    } @else {
                      <div class="w-6 h-6 rounded-full me-2.5 flex items-center justify-center bg-gray-700">
                        <span class="text-white text-xs font-medium">
                          {{ obj.user_name.charAt(0).toUpperCase() + obj.user_name.charAt(1).toUpperCase() }}
                        </span>
                      </div>
                    }
                  }

                  <!-- Main Element Name -->
                  @if (!isBlockedUserType(obj) && !isGiveawayType(obj) && !isUnbanRequestType(obj)) {
                    {{ obj.name }}
                  } @else if (isBlockedUserType(obj) || isUnbanRequestType(obj)) {
                    <div [title]="obj.user_id">
                      {{ obj.user_name }}
                      <div class="text-xs text-gray-500 mt-1">{{ obj.user_id }}</div>
                    </div>
                  } @else if (isGiveawayType(obj)) {
                    <div class="break-words whitespace-pre-line"
                         [innerHTML]="obj.start_date ? (obj.prize.toUpperCase() | markdown) : obj.prize | markdown"></div>

                    <!-- Button to show Winner-& Participant-Count / Scheduling info -->
                    <button class="ml-2 text-gray-400 dark:text-gray-500 hover:!text-blue-500 transition-colors
                                   duration-200" type="button" id="faqBtn_{{ $index }}"
                            [ngbTooltip]="tooltipContent" placement="top" tooltipClass="table-tooltip">
                      <fa-icon [icon]="obj.start_date ? faClock : faChartSimple"></fa-icon>
                    </button>

                    <ng-template #tooltipContent>
                      <div [innerHTML]="obj.start_date ?
                      ('PLACEHOLDER_GIVEAWAY_SCHEDULE' | translate: { start: obj.start_date | datecustom: this.translate.currentLang }) :
                      ('PLACEHOLDER_EVENT_STATS' | translate: { participants: obj.participants, winners: obj.winner_count })"></div>
                    </ng-template>
                  }

                  @if (tconfig.type === 'SUPPORT_THEMES' && isSupportType(obj)) {
                    @if (obj.faq_answer) {                                  <!-- Show Tooltip for FAQ-Status -->
                      <button class="ml-2 text-gray-400 dark:text-gray-500 hover:!text-blue-500 transition-colors
                                   duration-200" (click)="tconfig.actions[0](obj); tooltip.close()" type="button" id="faqBtn_{{ $index }}"
                              [ngbTooltip]="tooltipContent" #tooltip="ngbTooltip" placement="top" tooltipClass="table-tooltip">
                        <fa-icon [icon]="faRobot"></fa-icon>
                      </button>

                      <ng-template #tooltipContent>
                        {{ 'PLACEHOLDER_THEME_FAQ' | translate }}
                      </ng-template>
                    }
                    @if (obj.pending) {                                     <!-- Show Pending Action Button -->
                      <button class="ml-2 text-gray-400 dark:text-gray-500 hover:!text-blue-500 transition-colors
                                   duration-200 !cursor-help" (click)="tconfig.actions[0](obj)" type="button"
                              [ngbTooltip]="tooltipContent" placement="top" tooltipClass="table-tooltip">
                        <fa-icon [icon]="faHourglassEnd"></fa-icon>
                      </button>

                      <ng-template #tooltipContent>
                        {{ obj.action === 'CREATE' ? ('PLACEHOLDER_THEME_PENDING' | translate) :
                        ('PLACEHOLDER_THEME_UPDATE_PENDING' | translate)}}
                      </ng-template>
                    }
                  }
                </div>
              </td>

              @if (tconfig.type === 'TEAMLIST' && isRoleType(obj)) {
                <td class="px-4 py-3" [width]="tconfig.columns[1].width + '%'">
                  {{ tconfig.actions[0](obj.support_level) }}
                </td>
              } @else if (tconfig.type === 'SUPPORT_THEMES' && isSupportType(obj)) {
                <td class="py-3 px-4 font-medium text-gray-400 whitespace-nowrap dark:text-gray-500 transition-colors
                         duration-300" #mainRow
                    [width]="tconfig.columns[2].width + '%'">
                  {{ obj.desc }}
                </td>

                <!-- Support-Theme: Mentioned Role list -->
                <td class="px-4 py-3" [width]="tconfig.columns[3].width + '%'">
                  @for (role of obj.roles; track $index) {
                    <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-opacity-10
                                 shadow-sm hover:bg-opacity-20 hover:shadow transition-all duration-200 mr-1 mb-1
                                 truncate" [ngStyle]="getRoleStyles(role)">
                        <span class="truncate">{{ role.name }} {{ tconfig.actions[1](obj.default_roles, role.id) }}</span>
                    </span>
                  }
                </td>
              } @else if (tconfig.type === 'BLOCKED_USERS' && isBlockedUserType(obj)) {
                <!-- Blocked User: Reason for Blocking -->
                <td class="px-4 py-3" [width]="tconfig.columns[1].width + '%'">
                  <span class="text-gray-500 dark:text-gray-400">{{ obj.reason }}</span>
                </td>

                <!-- Blocked User: End date -->
                <td class="px-4 py-3" [width]="tconfig.columns[2].width + '%'">
                  <span class="text-gray-500 dark:text-gray-400" [ngClass]="!obj.end_date ? 'text-red-500 dark:text-red-700 uppercase' : ''">
                    @if (obj.end_date) {
                      {{ obj.end_date | datecustom: this.translate.currentLang  }}
                    } @else {
                      {{ 'PLACEHOLDER_NEVER' | translate }}
                    }
                  </span>
                </td>

                <!-- Blocked User: Staff who blocked the user -->
                <td class="px-4 py-3" [width]="tconfig.columns[3].width + '%'">
                  <div class="flex items-center">
                    @if (!obj.staff_invalidImg) {
                      <img [ngSrc]="obj.staff_avatar ? obj.staff_avatar.replace('size=1024', 'size=24') : 'https://cdn.discordapp.com/embed/avatars/' + (obj.staff_id.length % 5) + '.png'"
                           width="24" height="24" alt="Avatar for {{ obj.staff_name }}" class="w-6 h-6 rounded-full me-2.5"
                           [title]="obj.staff_id" />
                    } @else {
                      <div class="w-6 h-6 rounded-full me-2.5 flex items-center justify-center bg-gray-700">
                        <span class="text-white text-xs font-medium">
                          {{ obj.staff_name.charAt(0).toUpperCase() + obj.staff_name.charAt(1).toUpperCase() }}
                        </span>
                      </div>
                    }

                    <div class="font-medium text-gray-900 whitespace-nowrap dark:text-white transition-colors
                                duration-300" [title]="obj.staff_id">
                      {{ obj.staff_name }}
                      <div class="text-xs text-gray-500 mt-1">{{ obj.staff_id }}</div>
                    </div>
                  </div>
                </td>
              } @else if (tconfig.type === 'EVENTS_VIEW' && isGiveawayType(obj)) {
                <!-- Giveaway: End date -->
                <td class="px-4 py-3" [width]="tconfig.columns[1].width + '%'">
                  <span class="text-gray-500 dark:text-gray-400"
                        [ngClass]="!obj.end_date ? 'text-red-500 dark:text-red-700 uppercase' : ''">
                    {{ obj.end_date | datecustom: this.translate.currentLang  }}
                  </span>
                </td>

                <!-- Giveaway: Participation Requirement -->
                <td class="px-4 py-3" [width]="tconfig.columns[2].width + '%'">
                  <span class="text-gray-500 dark:text-gray-400" id="gw_req_{{ $index }}"
                        [innerHTML]="this.formatGiveawayRequirement(obj.gw_req, $index)"></span>
                </td>

                <!-- Giveaway: Creator -->
                <td class="px-4 py-3" [width]="tconfig.columns[3].width + '%'">
                  <div class="flex items-center">
                    @if (!obj.creator_invalidImg) {
                      <img [ngSrc]="obj.creator_avatar ? obj.creator_avatar.replace('size=1024', 'size=24')
                                                       : 'https://cdn.discordapp.com/embed/avatars/' + (obj.creator_id.length % 5) + '.png'"
                           width="24" height="24" alt="Avatar for {{ obj.creator_name }}" class="w-6 h-6 rounded-full me-2.5"
                           [title]="obj.creator_id" (error)="obj.creator_invalidImg = true;"/>
                    } @else {
                      <div class="w-6 h-6 rounded-full me-2.5 flex items-center justify-center bg-gray-700">
                        <span class="text-white text-xs font-medium">
                          {{ obj.creator_name.charAt(0).toUpperCase() + obj.creator_name.charAt(1).toUpperCase() }}
                        </span>
                      </div>
                    }

                    <div class="font-medium text-gray-900 whitespace-nowrap dark:text-white transition-colors
                                duration-300" [title]="obj.creator_id">
                      {{ obj.creator_name }}
                      <div class="text-xs text-gray-500 mt-1">{{ obj.creator_id }}</div>
                    </div>
                  </div>
                </td>

                <!-- Giveaway: Sponsor -->
                <td class="px-4 py-3" [width]="tconfig.columns[3].width + '%'">
                  @if (obj.sponsor_id) {
                    <div class="flex items-center">
                      @if (!obj.sponsor_invalidImg) {
                        <img [ngSrc]="obj.sponsor_avatar ? obj.sponsor_avatar.replace('size=1024', 'size=24')
                                                         : 'https://cdn.discordapp.com/embed/avatars/' + (obj.sponsor_id.length % 5) + '.png'"
                             width="24" height="24" alt="Avatar for {{ obj.sponsor_name }}" class="w-6 h-6 rounded-full me-2.5"
                             [title]="obj.sponsor_id" />
                      } @else {
                        <div class="w-6 h-6 rounded-full me-2.5 flex items-center justify-center bg-gray-700">
                            <span class="text-white text-xs font-medium">
                              {{ obj.sponsor_name!.charAt(0).toUpperCase() + obj.sponsor_name!.charAt(1).toUpperCase() }}
                            </span>
                        </div>
                      }

                      <div class="font-medium text-gray-900 whitespace-nowrap dark:text-white transition-colors
                                    duration-300" [title]="obj.sponsor_id">
                        {{ obj.sponsor_name }}
                        <div class="text-xs text-gray-500 mt-1">{{ obj.sponsor_id }}</div>
                      </div>
                    </div>
                  }
                </td>
              } @else if (isUnbanRequestType(obj)) {

                <!-- Unban Request: Punished by -->
                <td class="px-4 py-3" [width]="tconfig.columns[1].width + '%'">
                  @if (obj.staff_id) {
                    <div class="flex items-center">
                      @if (!obj.staff_invalid) {
                        <img [ngSrc]="obj.staff_avatar ? obj.staff_avatar.replace('size=1024', 'size=24')
                                                       : 'https://cdn.discordapp.com/embed/avatars/' + (obj.staff_avatar.length % 5) + '.png'"
                             width="24" height="24" alt="Avatar for {{ obj.staff_name }}" class="w-6 h-6 rounded-full me-2.5"
                             [title]="obj.staff_id" (error)="obj.staff_invalid = true;"/>
                      } @else {
                        <div class="w-6 h-6 rounded-full me-2.5 flex items-center justify-center bg-gray-700">
                        <span class="text-white text-xs font-medium">
                          {{ obj.staff_name.charAt(0).toUpperCase() + obj.staff_name.charAt(1).toUpperCase() }}
                        </span>
                        </div>
                      }


                      <div class="font-medium text-gray-900 whitespace-nowrap dark:text-white transition-colors
                                duration-300" [title]="obj.staff_id">
                        {{ obj.staff_name }}
                        <div class="text-xs text-gray-500 mt-1">{{ obj.staff_id }}</div>
                      </div>
                    </div>
                  }
                </td>

                <!-- Unban Request: Reason for Blocking & Excuse -->
                <td class="px-4 py-3" [width]="tconfig.columns[2].width + '%'">
                  <span class="text-gray-500 dark:text-gray-400">{{ obj.ban_reason }}</span>
                </td>

                <td class="px-4 py-3" [width]="tconfig.columns[3].width + '%'">
                  <span class="text-gray-400 dark:text-gray-500">{{ obj.excuse }}</span>
                </td>

                <!-- Giveaway: End date & Last change -->
                <td class="px-4 py-3" [width]="tconfig.columns[4].width + '%'">
                  <span class="text-gray-500 dark:text-gray-400"
                        [ngClass]="!obj.end_date ? 'text-red-500 dark:text-red-700 uppercase' : ''">
                    {{ obj.end_date | datecustom: this.translate.currentLang: 'short'  }}
                  </span>
                </td>

                <td class="px-4 py-3" [width]="tconfig.columns[5].width + '%'">
                  <span class="text-gray-400 dark:text-gray-500"
                        [ngClass]="!obj.updated_date ? 'text-red-500 dark:text-red-700 uppercase' : ''">
                    {{ obj.updated_date | datecustom: this.translate.currentLang: 'short'  }}
                  </span>
                </td>
              }

              <!-- Action Buttons -->
              <td class="px-4 py-3 flex items-center justify-end w-full" [height]="rowHeight + 'px'"
                  [width]="tconfig.columns[tconfig.columns.length - 1].width + '%'">
                @for (button of tconfig.action_btn; track $index) {
                  <!-- Show all Buttons, except Edit Button for Support-Themes if Pending -->
                  @if (!($index === 0 && isSupportType(obj) && obj.pending === true) && !isGiveawayType(obj)) {
                    <button class="inline-flex items-center p-1.5 py-1 text-sm font-medium text-center rounded-full
                     focus:outline-none hover:bg-gray-200 dark:hover:bg-gray-700 bg-opacity-40 disabled:!text-opacity-60
                     transition-colors duration-300 disabled:!bg-transparent" type="button" [disabled]="dataTableBtnPressed"
                            (click)="onDataTableBtnClick(button, obj)" id="TableBtn_{{ $index }}"
                            [ngClass]="button.color === 'blue' ? '!text-blue-500' : (button.color === 'green' ?
                                       '!text-green-500' : 'text-red-700 dark:text-red-700')"
                            [title]="isUnbanRequestType(obj) ? button.color === 'green' ?
                                      ('PLACEHOLDER_ACCEPT' | translate) : ('PLACEHOLDER_DENY' | translate) : ''">
                      <fa-icon [icon]="button.icon" [size]="button.size"></fa-icon>
                    </button>
                  }

                  <!-- Special Case for Giveaway Type: Toggle some buttons -->
                  @if (isGiveawayType(obj)) {
                    @if (isInvalidButtonForIndex(obj, $index)) {}
                    @else { <!-- Show play and delete button for scheduled Giveaways -->
                      <button class="inline-flex items-center p-1.5 py-1 text-sm font-medium text-center rounded-full
                       focus:outline-none hover:bg-gray-200 dark:hover:bg-gray-700 bg-opacity-40 transition-colors
                       disabled:!text-opacity-60 disabled:!bg-transparent duration-300" [class.mt-1]="$index === 3" type="button"
                              [disabled]="dataTableBtnPressed" (click)="onDataTableBtnClick(button, obj)"
                              id="TableBtn_{{ $index }}" [ngClass]="button.color === 'blue' ? '!text-blue-500' :
                              (button.color === 'green' ? '!text-green-500' : 'text-red-700 dark:text-red-700')">
                        <fa-icon [icon]="button.icon" [size]="button.size"></fa-icon>
                      </button>
                    }
                  }
                }
              </td>
            </tr>
          }
        }
      }
    </tbody>
  </table>
</div>
