<landing-header></landing-header>

<!-- Welcome Section (Top/Intro) -->
<div id="discord-bot" class="intro-banner banner-bg">
  <div class="container relative z-[1]">
    <div class="banner-content text-center">
      <img class="banner-icon mx-auto relative right-2"
           ngSrc="assets/img/icons/discord.png" alt="Clank ~ Discord-Bot (Discord-Logo)" height="75" width="75"
           style="visibility: visible; animation-duration: 0.7s; animation-delay: 0.4s; animation-name: fadeInUp;" />
      <h1 class="banner-title"
          style="visibility: visible; animation-duration: 0.7s; animation-delay: 0.4s; animation-name: fadeInUp;">
        Der Beste All-In-One Discord-Bot
      </h1>
      <div class="description"
           style="visibility: visible; animation-duration: 0.7s; animation-delay: 0.4s; animation-name: fadeInUp;">
        Clank ist das Herz deines Discord-Servers: Neben einer kinderleichten Verwendung & wunderschönen Menüs
        bietet er dir alles, was du brauchst, um deine eigene Community zu schützen, & zu vergrößern.
      </div>
      <a class="banner-btn black-shape-big" routerLink="/invite"
         style="visibility: visible; animation-duration: 0.7s; animation-delay: 0.4s; animation-name: fadeInUp;">
        <span class="btn-text">💝 ~ Discord-Bot einladen</span>
        <span class="hover-shape1"></span>
        <span class="hover-shape2"></span>
        <span class="hover-shape3"></span>
      </a>
    </div>
  </div>
</div>

<!-- Bot-Features -->
<landing-section-features></landing-section-features>

<!-- Footer -->
<landing-footer></landing-footer>
