<div id="discord-bot-features" class="key_features">
  <!-- Key Features -->
  <div class="container">
    <div class="items-center mb-24">
      <div class="sec-heading">
        <div class="mb-3">
          <span class="sub-title">BOT-FEATURES</span>
          <img class="heading-left-image inline-block" ngSrc="/assets/img/frames/steps.png" height="11" width="74"
               alt="Clank ~ Discord-Bot (Step-Icon)"/>
        </div>
        <h2 class="title">❓~ Was macht unseren Discord-Bot besonders?</h2>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6">
          <img ngSrc="/assets/img/icons/features/feature-language-discord-bot.png" height="50" width="50"
               alt="Clank ~ Discord-Bot (Language Support Icon)" class="img-fluid" />

          <div class="key_feature">
            <h3 class="mb-2">Sprachwechsler</h3>
            <p>› Unser Bot bietet aktuell <strong>Deutsch & Englisch</strong> als mögliche
              Sprachen für alle Funktionen des Bots an.</p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <img ngSrc="/assets/img/icons/features/feature-lovetodetail-discord-bot.png" height="50" width="50"
               alt="Clank ~ Discord-Bot (Love to Detail Icon)" class="img-fluid" />

          <div class="key_feature">
            <h3 class="mb-2">Liebe zum Detail</h3>
            <p>› Der Bot wurde von Server-Admins für Server-Admins erstellt, was eine
              <strong>hohe Qualität</strong> & Liebe zum Detail sichert.</p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <img ngSrc="/assets/img/icons/features/feature-wishlist-discord-bot.png" height="50" width="50"
               alt="Clank ~ Discord-Bot (Wishlist Icon)" class="img-fluid" />

          <div class="key_feature">
            <h3 class="mb-2">Community Wunschliste</h3>
            <p>› Wir arbeiten stets an neuen großen Features, basierend auf den <strong>Wünschen
              von euch</strong> - scrollt runter für mehr Infos!</p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <img ngSrc="/assets/img/icons/features/feature-support-discord-bot.png" height="50" width="50"
               alt="Clank ~ Discord-Bot (Wishlist Icon)" class="img-fluid" />

          <div class="key_feature">
            <h3 class="mb-2">Blitzschneller Support</h3>
            <p>› Wir helfen dir bei der Einrichtung des Bots, beheben <strong>blitzschnell
              Bugs</strong> & kümmern uns gerne um euer Anliegen.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Specific Showcase of Features -->
  <div class="container">

    @for (big_feature of feature_items; track $index) {
      <div class="row" [ngClass]="$index % 2 === 0 ? 'mb-20' : 'mb-40'">
        <!-- Show Video on the left side -->
        @if ($index % 2 === 0) {
          <div class="col-md-6">
            <video class="img-fluid cursor-pointer rounded-3xl -rotate-[0.5deg] hover:shadow-xl hover:shadow-slate-800"
                   id="{{big_feature.video_id}}" height="1080" width="1920" autoplay loop playsinline muted
                   (click)="toggleFullscreen(big_feature.video_id, $event)"
                   (fullscreenchange)="toggleFullscreen(big_feature.video_id)">
              <source src=" {{ big_feature.video_url }} " type="video/mp4">
              Dein Browser unterstützt keine HTML-Videos!
            </video>
          </div>
        }

        <div class="col-md-6">
          <div class="items-center mb-30">
            <div class="sec-heading">
              <div class="mb-15">
                <span class="sub-title"> {{ big_feature.category }} </span>
                <img class="heading-left-image inline-block" ngSrc="assets/img/frames/steps.png"
                     height="11" width="74" alt="Clank ~ Discord-Bot (Step-Icon)" />
              </div>
              <h2 class="title mb-0 text-[2rem]"> {{ big_feature.title }}  </h2>
            </div>
            <div class="big_feature_content">
              <p> {{ big_feature.description }} </p>
              <div class="big_feature_list">
                <ul class="w-1/2">
                  @for (item of big_feature.left_menu_items; track item) {
                    <li>
                      <span>
                        <img ngSrc="{{ item.icon_url }}" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                             class="img-fluid" height="16" width="16" />
                      </span>

                      {{ item.feature_name }}
                    </li>
                  }
                </ul>

                <ul class="w-1/2 m-0">
                  @for (item of big_feature.right_menu_items; track item) {
                    <li>
                      <span>
                        <img ngSrc="{{ item.icon_url }}" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                             class="img-fluid" height="16" width="16" />
                      </span>

                      {{ item.feature_name }}
                    </li>
                  }
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Show Video on the right side -->
        @if ($index % 2 !== 0) {
          <div class="col-md-6">
            <video class="img-fluid cursor-pointer rounded-3xl rotate-[0.5deg] hover:shadow-xl hover:shadow-slate-800"
                   id="{{big_feature.video_id}}" height="1080" width="1920" autoplay loop playsinline muted
                   (click)="toggleFullscreen(big_feature.video_id, $event)"
                   (fullscreenchange)="toggleFullscreen(big_feature.video_id)">
              <source src=" {{ big_feature.video_url }} " type="video/mp4">
              Dein Browser unterstützt keine HTML-Videos!
            </video>
          </div>
        }
      </div>
    }

  </div>

  <span class="frame-top">
    <img ngSrc="/assets/img/frames/container-frame-top.png" alt="Clank ~ Discord-Bot (Feature-Frame Top)"
         width="614" height="40" class="img-fluid" />
  </span>
  <span class="frame-bottom">
    <img ngSrc="/assets/img/frames/container-frame-bottom.png" alt="Clank ~ Discord-Bot (Bottom-Frame Top)"
         height="40" width="604" class="img-fluid" />
  </span>
</div>
