<div id="discord-bot-features" class="key_features">
  <!-- Key Features -->
  <div class="container">
    <div class="items-center mb-24">
      <div class="sec-heading">
        <div class="mb-3">
          <span class="sub-title">BOT-FEATURES</span>
          <img class="heading-left-image inline-block" ngSrc="/assets/img/frames/steps.png" height="11" width="74"
               alt="Clank ~ Discord-Bot (Step-Icon)"/>
        </div>
        <h2 class="title">❓~ Was macht unseren Discord-Bot besonders?</h2>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-6">
          <img ngSrc="/assets/img/icons/features/feature-language-discord-bot.png" height="50" width="50"
               alt="Clank ~ Discord-Bot (Language Support Icon)" class="img-fluid" />

          <div class="key_feature">
            <h3 class="mb-2">Sprachwechsler</h3>
            <p>› Unser Bot bietet aktuell <strong>Deutsch & Englisch</strong> als mögliche
              Sprachen für alle Funktionen des Bots an.</p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <img ngSrc="/assets/img/icons/features/feature-lovetodetail-discord-bot.png" height="50" width="50"
               alt="Clank ~ Discord-Bot (Love to Detail Icon)" class="img-fluid" />

          <div class="key_feature">
            <h3 class="mb-2">Liebe zum Detail</h3>
            <p>› Der Bot wurde von Server-Admins für Server-Admins erstellt, was eine
              <strong>hohe Qualität</strong> & Liebe zum Detail sichert.</p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <img ngSrc="/assets/img/icons/features/feature-wishlist-discord-bot.png" height="50" width="50"
               alt="Clank ~ Discord-Bot (Wishlist Icon)" class="img-fluid" />

          <div class="key_feature">
            <h3 class="mb-2">Community Wunschliste</h3>
            <p>› Wir arbeiten stets an neuen großen Features, basierend auf den <strong>Wünschen
              von euch</strong> - scrollt runter für mehr Infos!</p>
          </div>
        </div>

        <div class="col-md-3 col-sm-6">
          <img ngSrc="/assets/img/icons/features/feature-support-discord-bot.png" height="50" width="50"
               alt="Clank ~ Discord-Bot (Wishlist Icon)" class="img-fluid" />

          <div class="key_feature">
            <h3 class="mb-2">Blitzschneller Support</h3>
            <p>› Wir helfen dir bei der Einrichtung des Bots, beheben <strong>blitzschnell
              Bugs</strong> & kümmern uns gerne um euer Anliegen.</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Specific Showcase of Features -->
  <div class="container">

    <!-- Support-System -->
    <div class="row mb-20">
      <div class="col-md-6">
        <video class="img-fluid cursor-pointer rounded-3xl -rotate-[0.5deg] hover:shadow-xl hover:shadow-slate-800"
               id="discord-bot-ticket-tool" height="1080" width="1920" autoplay loop playsinline muted
               #video_ticket (click)="toggleFullscreen(video_ticket.id, $event)"
               (fullscreenchange)="toggleFullscreen(video_ticket.id)">
          <source src="assets/video/discord-bot-ticket-tool.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

      <div class="col-md-6">
        <div class="items-center mb-30">
            <div class="sec-heading">
              <div class="mb-15">
                <span class="sub-title">EIGENES SUPPORT-SYSTEM</span>
                <img class="heading-left-image inline-block" ngSrc="assets/img/frames/steps.png"
                     height="11" width="74" alt="Clank ~ Discord-Bot (Step-Icon)" />
              </div>
              <h2 class="title mb-0 text-[2rem]">📬 ~ PROFESSIONELL & KINDERLEICHT</h2>
            </div>
            <div class="big_feature_content">
              <p>› Mit unserem integrierten <strong>Support-Modul</strong> (Ticket Modmail-Tool) können User den Bot
                via Privatnachricht anschreiben, wodurch automatisch ein Ticket auf deinem Discord-Server in einem
                Forumkanal erstellt wird - dies garantiert eine benutzerfreundliche Erfahrung mit einer übersichtlichen Verwaltung.</p>
              <div class="big_feature_list">
                <ul class="w-1/2">
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/star.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Support-Bewertung für Teamler</li>
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/robot.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Tickets automatisch beantworten</li>
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/sound.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Sprachkanal-Support unterstützt</li>
                </ul>
                <ul class="w-1/2 m-0">
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/books.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Erstelle Panel & Support-Themen</li>
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/clock.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Feste Support-Zeiten für das Team</li>
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/checkmark.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Integriertes Verwaltungs-Menü</li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>

    <!-- Giveaways -->
    <div class="row mb-40">
      <div class="col-md-6">
        <div class="items-center mb-30">
            <div class="sec-heading">
              <div class="mb-15">
                <span class="sub-title">EIGENE GEWINNSPIELE STARTEN</span>
                <img class="heading-left-image inline-block" ngSrc="assets/img/frames/steps.png" height="11" width="74"
                     alt="Clank ~ Discord-Bot (Step-Icon)" />
              </div>
              <h2 class="title mb-0 text-[2rem]">🎁 ~ BLITZSCHNELL & WUNDERSCHÖN</h2>
            </div>
            <div class="big_feature_content">
              <p>› Mithilfe des personalisierten <strong>Gewinnspiel-Moduls</strong> kannst du eigene Gewinnspiele,
                erstellen, bearbeiten und verwalten. Lege eigene Teilnahme-Bedingungen fest, verändere das Design der
                Gewinnspiel-Nachricht und tracke die Aktivität deiner Server-Mitglieder.</p>
              <div class="big_feature_list">
                <ul class="w-1/2">
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/light-bulb.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Eigene Teilnahme-Bedingungen</li>
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/paint-brush.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Eigenes Embed-Design festlegen</li>
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/bar-chart.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Statistiken-Tracker (Invites & mehr)</li>
                </ul>
                <ul class="w-1/2 m-0">
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/trophy.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Interessante Bestenlisten</li>
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/clock.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Gewinnspiele später planen</li>
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/heart.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Sponsor für Gewinnspiele festlegen</li>
                </ul>
              </div>
            </div>
          </div>
      </div>

      <div class="col-md-6">
        <video class="img-fluid cursor-pointer rounded-3xl rotate-[0.5deg] hover:shadow-xl hover:shadow-slate-800"
                 id="discord-bot-giveaways" height="1080" width="1920" autoplay loop playsinline muted
                 #video_giveaways (click)="toggleFullscreen(video_giveaways.id, $event)"
                 (fullscreenchange)="toggleFullscreen(video_giveaways.id)">
            <source src="assets/video/discord-bot-giveaways.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
      </div>
    </div>

    <!-- Backup-System -->
    <div class="row mb-20">
      <div class="col-md-6">
        <video class="img-fluid cursor-pointer rounded-3xl -rotate-[0.5deg] hover:shadow-xl hover:shadow-slate-800"
               id="discord-bot-backup-system" height="1080" width="1920" autoplay loop playsinline muted
               #video_backup (click)="toggleFullscreen(video_backup.id, $event)"
               (fullscreenchange)="toggleFullscreen(video_backup.id)">
          <source src="assets/video/discord-bot-backup-system.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

      <div class="col-md-6">
        <div class="items-center mb-30">
            <div class="sec-heading">
              <div class="mb-15">
                <span class="sub-title">EIGENES BACKUP-SYSTEM</span>
                <img class="heading-left-image inline-block" ngSrc="assets/img/frames/steps.png"
                     height="11" width="74" alt="Clank ~ Discord-Bot (Step-Icon)" />
              </div>
              <h2 class="title mb-0">🚨 ~ SCHÜTZE DEINEN SERVER</h2>
            </div>
            <div class="big_feature_content">
              <p>› Unser automatisches & zuverlässiges Backup-System erstellt 2x pro Tag einen Screenshot deines
                Servers und <strong>speichert alle Kanäle & Rollen</strong> - sollte dein Server angegriffen werden,
                verliert der entsprechende User alle Rechte und die Änderungen werden zurückgesetzt.</p>
              <div class="big_feature_list">
                <ul class="w-1/2">
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/server.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Regelmäßige Server-Backups</li>
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/rollback.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Kanäle & Rollen wiederherstellen</li>
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/police.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Automatischer Schutz, der eingreift</li>
                </ul>
                <ul class="w-1/2 m-0">
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/stop.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Effektive Auto-Moderations-Regeln</li>
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/bot.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Bestrafe automatisch Fake-Accounts</li>
                  <li>
                    <span>
                      <img ngSrc="assets/img/icons/checklist/error.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                           class="img-fluid" height="16" width="16" />
                    </span>Viele nützliche Anti-Raid Tools</li>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>

    <!-- Logging-System -->
    <div class="row mb-20">
      <div class="col-md-6">
        <div class="items-center mb-30">
          <div class="sec-heading">
            <div class="mb-15">
              <span class="sub-title">EIGENES LOGGING-SYSTEM</span>
              <img class="heading-left-image inline-block" ngSrc="assets/img/frames/steps.png" height="11" width="74"
                   alt="Clank ~ Discord-Bot (Step-Icon)" />
            </div>
            <h2 class="title mb-0">ZUVERLÄSSIG & AUTOMATISCH</h2>
          </div>
          <div class="big_feature_content">
            <p>› Speichere wichtige Server-Änderungen, durchgeführte Bestrafungen, Server-Beitritte und noch viel
              mehr in einem übersichtlichen eigenem Forumkanal, wodurch du immer blitzschnell <strong>die wichtigsten
                Ereignisse</strong> auf deinem Discord-Server abrufen kannst - das Log-System umfasst:</p>
            <div class="big_feature_list">
              <ul class="w-1/2">
                <li>
                  <span>
                    <img ngSrc="assets/img/icons/checklist/checkmark.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                         class="img-fluid" height="16" width="16" />
                  </span>User Entsperrungs-Anträge</li>
                <li>
                  <span>
                    <img ngSrc="assets/img/icons/checklist/checkmark.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                         class="img-fluid" height="16" width="16" />
                  </span>Kritische Server-Änderungen</li>
                <li>
                  <span>
                    <img ngSrc="assets/img/icons/checklist/checkmark.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                         class="img-fluid" height="16" width="16" />
                  </span>Server-Betritte & Leaves</li>
              </ul>
              <ul class="w-1/2 m-0">
                <li>
                  <span>
                    <img ngSrc="assets/img/icons/checklist/checkmark.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                         class="img-fluid" height="16" width="16" />
                  </span>wichtige Moderationsaktionen</li>
                <li>
                  <span>
                    <img ngSrc="assets/img/icons/checklist/checkmark.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                         class="img-fluid" height="16" width="16" />
                  </span>Kanal-& Rollenänderungen</li>
                <li>
                  <span>
                    <img ngSrc="assets/img/icons/checklist/checkmark.png" alt="Clank ~ Discord-Bot (Checkmark-Icon)"
                         class="img-fluid" height="16" width="16" />
                  </span>Nachricht & Emoji-Updates</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <video class="img-fluid cursor-pointer rounded-3xl rotate-[0.5deg] hover:shadow-xl hover:shadow-slate-800"
                   id="discord-bot-log-system" height="1080" width="1920" autoplay loop playsinline muted
                   #video_log (click)="toggleFullscreen(video_log.id, $event)"
                   (fullscreenchange)="toggleFullscreen(video_log.id)">
              <source src="assets/video/discord-bot-log-system.mp4" type="video/mp4">
              Your browser does not support the video tag.
            </video>
      </div>
    </div>

  </div>

  <span class="frame-top">
    <img ngSrc="/assets/img/frames/container-frame-top.png" alt="Clank ~ Discord-Bot (Feature-Frame Top)"
         width="614" height="40" class="img-fluid" />
  </span>
  <span class="frame-bottom">
    <img ngSrc="/assets/img/frames/container-frame-bottom.png" alt="Clank ~ Discord-Bot (Bottom-Frame Top)"
         height="40" width="604" class="img-fluid" />
  </span>
</div>
