<!-- Backdrop for Role Modal -->
<div class="fixed hidden inset-0 bg-black/40 z-50" aria-hidden="true" #roleBackdrop
     [@fadeAnimation]="isVisible ? 'visible' : 'hidden'" id="modal_backdrop"></div>

<!-- Role Modal -->
<div tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed z-50 flex justify-center items-center w-full md:inset-0
                        h-[100vh] max-h-full" #roleModal
     [@slideAnimation]="isVisible ? 'visible' : 'hidden'" id="modal_container">
  <div class="relative p-4 w-full max-h-[90vh] overflow-auto translate-x-36" id="roleModalContent" #roleModalContent
       [ngClass]="{'max-w-lg mx-auto': !showSecondModal(), '!max-w-xl': this.type === 'SECURITY_SHIELDS',
                  'flex justify-center items-center gap-4': showSecondModal()}">

    <!-- First Modal (Always visible) -->
    <div class="relative bg-white rounded-lg shadow-sm dark:shadow-xl dark:!bg-gray-700 !border-gray-400
              dark:!border-gray-500 border-1"
         [ngClass]="{'w-full': !showSecondModal(), 'w-1/2 max-w-lg': showSecondModal()}" id="ignore">
      <!-- Modal Header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
        <p class="text-xl font-semibold text-gray-900 dark:text-white mb-0">
          @if (type === 'TEAMLIST_ROLE_ADD') {
            {{ 'PLACEHOLDER_ROLE_MODAL_TITLE' | translate }}
          } @else if (type === 'SUPPORT_THEME_FAQ') {
            {{ 'PLACEHOLDER_FAQ_MODAL_TITLE' | translate }}
          } @else if (type === 'DEFAULT_MENTION') {
            {{ 'PLACEHOLDER_MENTION_MODAL_TITLE' | translate }}
          } @else if (type === 'SUPPORT_THEME_ADD') {
            {{ 'PLACEHOLDER_THEME_MODAL_TITLE' | translate }}
          } @else if (type === 'SUPPORT_THEME_EDIT') {
            {{ 'PLACEHOLDER_THEME_EDIT_MODAL_TITLE' | translate }}
          } @else if (type === 'SUPPORT_SNIPPET_ADD') {
            {{ 'PLACEHOLDER_SNIPPET_ADD_MODAL_TITLE' | translate }}
          } @else if (type === 'SUPPORT_SNIPPET_EDIT') {
            {{ 'PLACEHOLDER_SNIPPET_EDIT_MODAL_TITLE' | translate }}
          } @else if (type.startsWith('SUPPORT_TICKET_ANNOUNCEMENT')) {
            {{ 'PLACEHOLDER_TICKET_ANNOUNCEMENT_MODAL_TITLE' | translate }}
          } @else if (type.startsWith('BLOCKED_USER')) {
            {{ 'PLACEHOLDER_BLOCKED_USER_ADD_MODAL_TITLE' | translate }}
          } @else if (type === 'EVENTS_CREATE') {
            {{ 'PLACEHOLDER_EVENT_CREATE_MODAL_TITLE' | translate }}
          } @else if (type === 'EVENTS_EDIT') {
            {{ 'PLACEHOLDER_EVENT_EDIT_MODAL_TITLE' | translate }}
          } @else if (type === 'SECURITY_SHIELDS' && isSecurityModal(obj)) {
            <!-- 0 = Panic | 1 = Backup restore -->
            {{ obj.action === 0 ? ('PLACEHOLDER_SECURITY_SHIELD_0_TITLE' | translate) : ('PLACEHOLDER_SECURITY_SHIELD_1_TITLE' | translate) }}
          }
        </p>
        <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:!bg-gray-200
                                                       hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex
                                                         justify-center items-center dark:hover:!bg-gray-600
                                                         dark:hover:text-white" (click)="this.hideModal()">
          <fa-icon [icon]="faXmark" size="lg"></fa-icon>
        </button>
      </div>

      <!-- Modal body -->
      <div [ngClass]="{'p-4 md:p-5': this.type !== 'SECURITY_SHIELDS'}">
        <div class="space-y-4 flex flex-col">
          @switch (true) {
            @case (type === 'SUPPORT_THEME_FAQ') {
              <template-faq-answer [content]="content" [type]="type" />
            }
            @case (type.startsWith('SUPPORT_THEME')) {
              <template-support-theme-add [showFirst]="true" [discordRoles]="discordRoles" [type]="type"
                                          [isDefaultMentioned]="isDefaultMentioned.bind(this)" [newTheme]="theme" />
            }
            @case (type.startsWith('SUPPORT_SNIPPET')) {
              <template-snippet-add [type]="type" [newSnippet]="$any(obj)" [showFirst]="true" [snippet_action]="snippet_action"
                                    [externalMarkdown]="secondSnippetAdd?.discordMarkdown" [snippet_edit]="snippet_edit" />
            }
            @case (type.startsWith('SUPPORT_TICKET_ANNOUNCEMENT')) {
              <template-ticket-announcement [activeAnnounce]="announcement" [type]="type" [showFirst]="true" />
            }
            @case (type.startsWith('BLOCKED_USER')) {
              <template-blocked-user [newBlockedUser]="$any(obj)" [type]="$any(type)" [block_action]="this.block_action" />
            }
            @case (type.startsWith('EVENTS_')) {
              <template-create-giveaway [giveaway]="$any(obj)" [showFirst]="true" [event_action]="event_action"
                                        [event_edit]="event_edit" [externalMarkdown]="secondGiveawayAdd?.discordMarkdown"
                                        [type]="$any(this.type)" />
            }
            @case (type === 'SECURITY_SHIELDS') {
              <template-confirm-dialog [type]="this.type" [shield_action]="this.shield_action" [obj]="$any(this.obj)" />
            }
            @default { <!-- Default Mention & Teamlist -->
              <template-role-picker [type]="type" [discordRoles]="discordRoles" [action]="action"
                                    [isDefaultMentioned]="isDefaultMentioned.bind(this)" />
            }
          }
        </div>
      </div>
    </div>

    <!-- Second Modal -->
    @if (showSecondModal()) {

      @if (type.startsWith('SUPPORT_SNIPPET')) {
        <template-snippet-add #secondSnippetAdd [type]="type" [newSnippet]="$any(obj)" [showFirst]="false" />
      } @else if (type.startsWith('SUPPORT_TICKET_ANNOUNCEMENT')) {
        <template-ticket-announcement [activeAnnounce]="announcement" [type]="type" [showFirst]="false" />
      } @else if (type.startsWith('SUPPORT_THEME')) {
        <template-support-theme-add [showFirst]="false" />
      } @else if (type.startsWith('EVENTS_')) {
        <template-create-giveaway #secondGiveawayAdd [showFirst]="false" [giveaway]="$any(obj)" />
      }

    }
  </div>
</div>
