<!-- Select for Role Picker -->
<div class="relative flex items-center">
  @if (isChannelList()) {
    <fa-icon [icon]="faHashtag" class="absolute left-3 text-gray-500 dark:text-gray-400 pointer-events-none z-10" />
  }
  <select #rolePicker [id]="this.id" (change)="changeSelectPicker()"
          [multiple]="type === 'DEFAULT_MENTION' || type.startsWith('SUPPORT_THEME_')"
          (focusout)="this.isFocused = false;" (click)="this.isFocused = !this.isFocused"
          [ngClass]="{'cursor-not-allowed dark:!text-gray-400': this.type === 'EVENTS_EDIT',
                      'cursor-pointer': this.type !== 'EVENTS_EDIT', 'rounded-b-none': this.isFocused,
                      '!bg-gray-200 dark:!bg-gray-600 dark:!border-gray-600': this.type === 'EVENTS_EFFECTS'}"
          [disabled]="(type.startsWith('SUPPORT_THEME_') && this.dataService.isFAQ) || type === 'EVENTS_EDIT' || disabled"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500
                   focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:!border-gray-500
                   dark:placeholder-gray-400 dark:text-white appearance-none dark:focus:ring-primary-500
                   dark:focus:border-primary-500 transition-all duration-300 disabled:!text-gray-400
                   disabled:cursor-not-allowed" [class.ps-8]="isChannelList()">
    @if (rolePicker.type === 'select-one' && this.id != 'reqpicker' && this.id != 'unbanpicker') {
      <option [selected]="!this.activeOption" disabled>
        @if (this.id.startsWith('channelpicker') && this.dataService.guild_channels.length > 0) {
          {{ 'PLACEHOLDER_CHANNEL_MODAL_DEFAULT' | translate }}
        } @else if (this.id.startsWith('channelpicker') && this.dataService.guild_channels.length === 0) {
          {{ 'PLACEHOLDER_CHANNEL_MODAL_NO_CHANNELS' | translate }}
        } @else {
          {{ 'PLACEHOLDER_ROLE_MODAL_DEFAULT' | translate }}
        }
      </option>
    }
    @for (obj of options; track $index) {
      @if (!isSelectItemsType(obj)) { <!-- Discord Role/channel list -->
        <option value="{{ obj.id }}" [selected]="((type === 'DEFAULT_MENTION' || this.type === 'SUPPORT_THEME_EDIT')
                                                 && isDefaultMentioned(obj.id)) ||
                                                 (this.type === 'SUPPORT_THEME_ADD' && isThemeRoleSelected(obj.id)) ||
                                                 (this.type === 'EVENTS_EFFECTS' && this.activeOption === obj.id) ||
                                                 ((this.type === 'EVENTS_EDIT' || this.type === 'SECURITY_LOGS' ||
                                                   this.type === 'MISC_GLOBALCHAT') && this.activeOption === obj.id)">
          {{ obj.name }}
        </option>
      } @else {
        <option value="{{ obj.value }}" [disabled]="isSelectDisabled(obj.value)"
                [selected]="(this.type.startsWith('EVENTS_') || this.type === 'SECURITY_UNBAN')
                            && (this.activeOption && this.activeOption.startsWith(obj.value))">
          {{ obj.label | translate }}
        </option>
      }
    }
  </select>
</div>

@if (rolePicker.type === 'select-one' && rolePicker.clientWidth > 257) {
  <div class="relative">
    <fa-icon [icon]="faChevronDown" class="absolute right-3 -top-8 text-gray-500 dark:text-gray-300 pointer-events-none"
             [ngClass]="(this.type === 'EVENTS_EDIT' || rolePicker.disabled) ? 'cursor-not-allowed !text-gray-400' : ''"/>
  </div>
}
