<!-- Template for Discord Markdown Preview -->
<div class="relative flex bg-[color-mix(in_oklab,rgb(57,58,65)_100%,rgb(0,0,0))] rounded p-2.5 max-w-full
                  text-gray-300 font-sans mt-2 transition-all duration-300"
     [class.opacity-50]="!this.dataService.isFAQ && type != 'SUPPORT_THEME_FAQ'">
  <div class="absolute top-0 left-0 w-1 h-full bg-[#5865f2] rounded-l"></div>
  <div class="pl-3 w-full">
    <div class="flex items-center font-bold text-sm text-white mb-0">
      <div class="h-5 w-[3px] bg-gray-500 dark:bg-gray-500/80 ml-1 rounded-lg"></div>
      <img ngSrc="assets/img/icons/faq_answer_theme.gif" alt="Clank-Icon ~ Clank Discord-Bot"
           class="w-5 h-5 mx-2" height="40" width="40">
      <span>~ {{ 'PLACEHOLDER_THEME_PREVIEW_TITLE' | translate }}</span>
    </div>

    <div class="mb-1.5 text-sm font-normal leading-snug whitespace-pre-wrap break-words">
      <img ngSrc="assets/img/icons/faq_answer.png" alt="Clank-Icon ~ Clank Discord-Bot"
           class="w-4 h-[19px] rounded-full inline-block ml-0.5 mr-1 align-middle" height="40" width="40">
        <span class="align-middle" #faqPreview
              [innerHTML]="type != 'SUPPORT_THEME_FAQ' ? ('PLACEHOLDER_THEME_PREVIEW_DESC' | translate) : (content | markdown)">
        </span>
    </div>

    <!-- Footer-Bereich -->
    <div class="flex items-center font-medium text-[10px] tracking-tight leading-3 text-gray-200 mt-2">
      <img ngSrc="assets/img/icons/clank.png" alt="Clank-Icon ~ Clank Discord-Bot"
           class="w-4 h-4 rounded-full mr-1.5" height="1024" width="1024">
      <span>{{ 'PLACEHOLDER_THEME_PREVIEW_FOOTER' | translate }}</span>
    </div>
  </div>
</div>
