// little animation if theme got switched
.animate-rotate {
  &.rotate-left {
    animation: rotate-left 0.5s ease-in-out;
  }

  &.rotate-right {
    animation: rotate-right 0.5s ease-in-out;
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes rounded {
  0% {
    border-radius: 0;
  }
  100% {
    border-radius: 50%;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
