<dashboard-layout>
  <section class="flex flex-auto flex-col bg-gradient-to-tl from-blue-50 via-gray-50 to-slate-100
                dark:from-slate-900 dark:via-gray-900 dark:to-slate-800 transition-colors duration-500">

    <!-- Page Thumb -->
    <page-thumb [subtitle]="'PAGE_SECURITY_LOGS_SUBTITLE' | translate" [title]="'PAGE_SECURITY_LOGS_TITLE' | translate"
                [color]="'red-pink'" [desc]="'PAGE_SECURITY_LOGS_DESC' | translate"></page-thumb>

    <!-- Alert Box -->
    @if (this.dataService.showAlertBox) {
      <app-alert-box></app-alert-box>
    }

    <div class="flex w-full gap-6 p-3 mt-3 sm:p-5 min-h-[calc(100%-17rem)]">

      <!-- Forum - Container -->
      <div class="w-1/3 bg-gradient-to-tl from-white via-slate-50 to-blue-50 dark:from-slate-800 dark:via-slate-800
                dark:to-slate-900 rounded-xl shadow-md dark:shadow-xl transition-colors duration-300 flex flex-col !border-gray-300
                dark:!border-gray-700 border-1">
        <!-- Header -->
        <div class="flex items-center justify-between p-6 border-b !border-gray-300 dark:!border-gray-700
                    transition-colors duration-300">
          <div class="flex items-center w-full justify-between">
            <div class="w-full">
              <h2 class="text-xl font-medium text-gray-800 dark:text-gray-200 transition-colors duration-300 mb-0">
                {{ 'PAGE_SECURITY_LOGS_PICKER_TITLE' | translate }}
              </h2>
              <p class="text-gray-500 dark:text-gray-400 transition-colors duration-300 mt-1 mb-0 text-base">
                {{ 'PAGE_SECURITY_LOGS_PICKER_DESC' | translate }}
              </p>
            </div>
          </div>
        </div>

        <!-- Content -->
        <div class="flex flex-col p-3 h-full">

          <template-select [options]="this.dataService.guild_channels" [type]="'SECURITY_LOGS'" class="w-full mb-4"
                           [id]="'channelpicker'" [activeOption]="this.selectedLog ? selectedLog!.id.toString() : null"
                           (selectionChange)="this.tempLog = setTempLog($event[0])"
                           [disabled]="this.dataService.security_logs.channel_id_delete" />

          <!-- Buttons for Log-Channel -->
          <div class="flex justify-center flex-col gap-y-6 mb-2">
            <div class="flex gap-2 justify-center">
              <button class="bg-gradient-to-r from-green-500 via-green-600 to-green-500 hover:from-green-600
                           hover:to-green-700 text-white font-semibold px-6 py-2 rounded-lg shadow-lg w-full
                             transition-colors duration-200 disabled:bg-gray-700 disabled:bg-none disabled:cursor-not-allowed"
                      (click)="saveLogForum()"
                      [disabled]="!this.dataService.guild_channels.length || (!this.tempLog || this.tempLog.id === this.selectedLog?.id)">
                <fa-icon [icon]="faHashtag" class="me-2" /> {{ 'PAGE_SECURITY_LOGS_PICKER_BUTTON' | translate }}
              </button>
              <button class="bg-gradient-to-r from-red-500 via-pink-600 to-red-500 hover:from-red-600
                             hover:to-pink-700 text-white font-semibold px-3 py-2 rounded-lg shadow-lg
                             transition-colors duration-200 disabled:bg-gray-700 disabled:bg-none disabled:cursor-not-allowed"
                      (click)="saveLogForum(true)"
                      [disabled]="!this.dataService.guild_channels.length || (!this.selectedLog || this.tempLog != this.selectedLog)
                                  || this.dataService.security_logs.channel_id_delete">
                <fa-icon [icon]="faTrash" />
              </button>
            </div>

            <div class="mx-auto mt-2 w-2/3 border-b-2 border-gray-400 dark:border-gray-700 mb-3 transition-colors duration-200"></div>
          </div>

          <h2 class="text-xl font-medium text-gray-800 dark:text-gray-200 transition-colors duration-300 mb-3">
            {{ 'PAGE_SECURITY_LOGS_PICKER_ACTIVE_TITLE' | translate }}
          </h2>

          <div class="bg-slate-200 dark:bg-slate-900 rounded-lg p-3 flex flex-col gap-2 shadow-md mb-4">
            <div class="flex justify-between items-center">
              <span class="text-gray-700 dark:text-gray-300 font-medium transition-colors duration-300">
                {{ 'PLACEHOLDER_CHANNEL_NAME' | translate }}:</span>
              <span class="text-green-600 dark:text-green-400 font-semibold transition-colors duration-300 font-mono">
                <code>{{ this.selectedLog ? this.selectedLog!.name : '-' }}</code>
              </span>
            </div>
            <div class="flex justify-between items-center">
              <span class="text-gray-700 dark:text-gray-300 font-medium transition-colors duration-300">
                {{ 'PLACEHOLDER_CHANNEL_ID' | translate}}:</span>
              <span class="text-gray-700 dark:text-gray-200 font-semibold transition-colors duration-300 font-mono">
                  <code>{{ this.selectedLog ? this.selectedLog!.id : '-' }}</code>
              </span>
            </div>
          </div>

        </div>
      </div>

      <!-- Thread Selection - Container -->
      @if (this.dataService.security_logs.channel_id && !this.dataService.security_logs.channel_id_pending) {
        <app-drag-n-drop class="w-full" [type]="'SECURITY_LOGS'" [org_features]="org_logs" [feature_list]="log_list"
                         [enabledFeatures]="enabledFeatures" [disabledFeatures]="disabledFeatures" [disabledSendBtn]="this.sendState"
                         [refresh_data_function]="this.getSecurityLogs.bind(this)" (saveAction)="this.saveLogThreads();"/>
      } @else {
        <!-- No Channel Set - Container -->
        <div class="w-full bg-gradient-to-br from-white via-slate-50 to-blue-50 dark:from-slate-800 dark:via-slate-800
                dark:to-slate-900 rounded-xl shadow-md dark:shadow-xl transition-colors duration-300 flex flex-col !border-gray-300
                dark:!border-gray-700 border-1">
          <!-- Header -->
          <div class="flex items-center justify-between p-6 border-b !border-gray-300 dark:!border-gray-700
              transition-colors duration-300">
            <div class="w-4/5">
              <h2 class="text-xl font-medium text-gray-800 dark:text-gray-200 transition-colors duration-300 mb-0">
                {{ 'PAGE_SECURITY_SHIELD_LOGS_TITLE' | translate }}
              </h2>
              <p class="text-gray-500 dark:text-gray-400 transition-colors duration-300 mt-1 mb-0 text-base">
                {{'PAGE_SECURITY_SHIELD_LOGS_DESC' | translate }}
              </p>
            </div>

            <button type="button" class="flex items-center justify-center text-white bg-gradient-to-r from-blue-700
                                           via-blue-600 to-blue-500 focus:ring-4 font-medium rounded-lg text-sm px-3
                                           py-2 focus:ring-blue-700 focus:outline-none hover:bg-gradient-to-br
                                           transition-colors duration-300 disabled:bg-gray-700 disabled:bg-none"
                    (click)="refreshCache(disabledCacheBtn)" #disabledCacheBtn>
              <fa-icon [icon]="faRefresh" class="me-2"></fa-icon>
              {{ 'BUTTON_CACHE_REFRESH' | translate }}
            </button>
          </div>

            <div class="flex flex-col items-center justify-center p-6 h-full">
              <img [ngSrc]="'assets/img/bg/sleeping.png'" class="animate-float mb-2" width="128" height="128"
                   alt="Sleeping-Icon ~ Clank Discord-Bot" />
              <div class="text-center">
                <h2 class="text-2xl font-medium text-gray-800 dark:text-gray-200 mb-2 transition-colors duration-300">
                  @if (this.dataService.security_logs.channel_id_delete) {
                    {{ 'PAGE_SECURITY_LOGS_CHANNEL_DELETION_TITLE' | translate }}
                  } @else if (this.dataService.security_logs.channel_id_pending) {
                    {{ 'PAGE_SECURITY_LOGS_CHANNEL_PENDING_TITLE' | translate }}
                  } @else {
                    {{ 'PAGE_SECURITY_LOGS_CHANNEL_NOT_SET_TITLE' | translate }}
                  }
                </h2>
                <p class="text-gray-500 dark:text-gray-400 text-lg transition-colors duration-300">
                  @if (this.dataService.security_logs.channel_id_delete) {
                    {{ 'PAGE_SECURITY_LOGS_CHANNEL_DELETION_DESC' | translate }}
                  } @else if (this.dataService.security_logs.channel_id_pending) {
                    {{ 'PAGE_SECURITY_LOGS_CHANNEL_PENDING_DESC' | translate }}
                  } @else {
                    {{ 'PAGE_SECURITY_LOGS_CHANNEL_NOT_SET_DESC' | translate }}
                  }
                </p>
              </div>
            </div>

        </div>
      }


    </div>

  </section>
</dashboard-layout>
