<div class="flex h-screen bg-white dark:!bg-gray-900/95 transition-colors duration-500">

  @if (this.dataService.showMobileSidebar) {
    <!-- Backdrop for mobile -->
    <div class="fixed inset-0 bg-gray-800/60 lg:hidden z-5" (click)="this.dataService.toggleSidebar()"></div>
  }

  <!-- Hide sidebar on mobile devices; only show after button click -->
  <div [ngClass]="['fixed lg:static z-[100] h-screen transition-transform duration-300',
                    dataService.showMobileSidebar ? 'translate-x-0' : '-translate-x-full lg:translate-x-0']">
    <app-sidebar></app-sidebar>
  </div>

  <!-- Page Content -->
  <div class="flex w-full min-w-0 flex-auto flex-col">
    <app-header></app-header>

    <!-- Body -->
    <div class="flex flex-auto flex-col">

      @if (!localStorage.getItem('active_guild')) {
        <!-- Page for Pick Server -->
        <div class="w-full h-full flex items-center justify-center flex-col">
          <img ngSrc="assets/img/bg/nightly.png" alt="Clank ~ Discord-Bot (Server Pick Background)"
               height="2033" width="2908" class="w-3/6 h-3/6 drop-shadow-2xl mb-10 animate-float" />

          <div class="text-black dark:!text-white text-center text-4xl font-extrabold leading-tight tracking-tight
                md:text-5xl md:leading-none">{{ 'PLACEHOLDER_PICK_SERVER_TITLE' | translate }}</div>
          <div class="text-slate-500 mt-2 text-center text-lg font-medium tracking-tight md:text-xl"
               [innerHTML]="'PLACEHOLDER_PICK_SERVER_DESC' | translate">
          </div>
        </div>
      }
    </div>
  </div>
</div>
